
@{
    ViewData["Title"] = "Booking Seat";
}


@section Style{

    <style>

        img {
            max-width: 100%;
            height: auto;
        }
        
        .first-table
        {
            margin-left:20%;

        }

        .td {
           
        }
    </style>

}



<div class="site-section" id="next" style="width:100%;">
    <h2>Airplane List</h2>
    <div class="container" style="width:100%; background-image: url('../images/book.png'); height: 50%; background-position: center; background-repeat: no-repeat; background-size: cover">
       <label>Pick a class:</label>
       <select id="class">
           <option value="10">Economic</option>
           <option value="10">Business</option>
       </select>
       

        <!--Legenda-->
       <ul class="showcase">
           <li>
               <div class="seat"></div>
               <small>N/A</small>
           </li>
           <li>
               <div class="seat selected"></div>
               <small>Selected</small>
           </li>
           <li>
               <div class="seat occupied"></div>
               <small>Occupied</small>
           </li>
       </ul>

       <div class="container">
           <div class="screen"></div>

           <div class="row">
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
           <div class="row">
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat occupied"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
           <div class="row">
               <div class="seat"></div>
               <div class="seat occupied"></div>
               <div class="seat occupied"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
           <div class="row">
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
           <div class="row">
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
           <div class="row">
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
               <div class="seat"></div>
           </div>
     
       </div>

        <p class="text"> You have selecte <span id="count">0</span>seats for a price of<span id="total">0</span></p>
    </div>
</div>
