@model Airline.Web.Models.ChangeDptEmployeeViewModel

@{ ViewData["Title"] = "ChangeDepartment"; }

<div class="site-section" id="next">
    <div class="container">
        <h2>Change Department</h2>

        <br />
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form asp-action="ChangeDepartment">
                    <div class="form-horizontal">
                        <h4>Movie</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class="form-group">
                            <label asp-for="EndOldDepartment" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="EndOldDepartment" class="form-control" />
                                <span asp-validation-for="EndOldDepartment" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- <snippet_ReleaseDate> -->
                        <div class="form-group">
                            <label asp-for="BeginNewDepartment" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="BeginNewDepartment" class="form-control" />
                                <span asp-validation-for="BeginNewDepartment" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="hidden" asp-for="UserId" />
                                <input type="submit" value="Confirm" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
