@model DateViewModel

@{
    ViewData["Title"] = "Date";
}



    <div class="site-section" id="next" style="width:100%">
        <div class=" control-section">
            <div id="wrapper" class="datetimepicker-section">
                <div id="datetimepicker-control">
                    <form method="post">

                        <ejs-datepicker id="datepicker" ejs-for="Value" placeholder="Choose a Date"></ejs-datepicker>
                      
                        <div id="errorMessage">
                            <span asp-validation-for="Value"></span>
                        </div>
                        <input type="submit" value="Save" class="btn btn-default" />
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
