@{
    ViewData["Title"] = "Success";
}

<div class="site-section" id="next">
    <div class="container">

        <h2>Operation done with success!</h2>

        <br />
        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Home</a>
        </p>

    </div>
</div>