
@{
    ViewData["Title"] = "Delete";
}

<div class="site-section" id="next">
    <div class="container">
        <h2>@ViewBag.Message</h2>

        <br />
        <p>
            <a asp-action="Index" class="btn btn-success">Return</a>
        </p>

    </div>
</div>




