@{
    ViewData["Title"] = "Email Confirmed";
}


<div class="site-section" id="next">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Welcome! You can login into system.
            </p>
        </div>
    </div>
</div>
