@{
    ViewData["Title"] = "Confirm email";
}


<div class="site-section" id="next">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Thank you for confirming your email. Now you can login into system.
            </p>
        </div>
    </div>
</div>
