@{
    ViewData["Title"] = "Success";
}

<div class="site-section" id="next">
    <div class="container">

        <h2>@ViewBag.Message</h2>

        <br />
        <p>
            <a asp-action="Login" class="btn btn-success">Login</a>
        </p>

    </div>
</div>