@using Syncfusion.EJ2
@*@model directive allows you to access the model values*@
@model Airline.Web.Data.Entities.DateTimeValue

    <div class="site-section" id="next">
        <div class="container">
         
            <br />
            <div class="row">

                <div class=" control-section">
                    <div id="wrapper" class="datetimepicker-section">
                        <div id="datetimepicker-control">
                            <form method="post">
                                <ejs-datetimepicker id="datepickerFor" name="value" ejs-for="@Model.value"></ejs-datetimepicker>
                                <div id="errorMessage">
                                    <span asp-validation-for="value"></span>
                                </div>
                                <div id="submitbutton">
                                    <ejs-button id="submitButton" content="Submit"></ejs-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
